<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="tile2.css">
    </head>
    <body>
        <div class="tileMain">
            <div class="tileHead">
                <div class="tileImage">
                    <span><i class="svg-dashboard"></i></span>
                </div>
            </div>
            <div class="tileBody">
                <div class="tileText">
                    orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </div>
            </div>
        </div>
    </body>
</html>